<ion-header>
  <ion-navbar color="primary">
    <ion-title>{{ title }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <form [formGroup]="form">
    <ion-item>
      <ion-label stacked>Problema</ion-label>
      <ion-input type="text" formControlName="problema"></ion-input>
    </ion-item>
    <ion-item *ngIf="!form.controls.problema.valid && (form.controls.problema.dirty || form.controls.problema.touched)" color="danger">
      <div [hidden]="!form.controls.problema.errors.required">
        O campo é obrigatório
      </div>
    </ion-item>

    <ion-item>
      <ion-label stacked>Bulas</ion-label>
      <!--<ion-input type="text" formControlName="bula"></ion-input>-->
      <ion-select [(ngModel)]="receita.bula" formControlName="bula">
        <ion-option *ngFor="let bula of bulas" value="{{bula.remedio}}">{{bula.remedio}}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item *ngIf="!form.controls.bula.valid && (form.controls.bula.dirty || form.controls.bula.touched)" color="danger">
      <div [hidden]="!form.controls.bula.errors.required">
        O campo é obrigatório
      </div>
    </ion-item>

    <ion-item>
      <ion-label stacked>Horario</ion-label>
      <ion-input type="text" formControlName="horario"></ion-input>
    </ion-item>
    <ion-item *ngIf="!form.controls.horario.valid && (form.controls.horario.dirty || form.controls.horario.touched)" color="danger">
      <div [hidden]="!form.controls.horario.errors.required">
        O campo é obrigatório
      </div>
    </ion-item>

    <ion-item>
      <ion-label stacked>Quantidade</ion-label>
      <ion-input type="text" formControlName="quantidade"></ion-input>
    </ion-item>
    <ion-item *ngIf="!form.controls.quantidade.valid && (form.controls.quantidade.dirty || form.controls.quantidade.touched)" color="danger">
      <div [hidden]="!form.controls.quantidade.errors.required">
        O campo é obrigatório
      </div>
    </ion-item>

    <div padding>
      <button ion-button block type="submit" [disabled]="!form.valid" (click)="onSubmit()">Salvar</button>
    </div>
  </form>

</ion-content>
