<ion-header>
  <ion-navbar color="primary">
    <ion-title>{{ title }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <form [formGroup]="form">
    <ion-item>
      <ion-label stacked>Remedio</ion-label>
      <ion-input type="text" formControlName="remedio"></ion-input>
    </ion-item>
    <ion-item *ngIf="!form.controls.remedio.valid && (form.controls.remedio.dirty || form.controls.remedio.touched)" color="danger">
      <div [hidden]="!form.controls.remedio.errors.required">
        O campo é obrigatório
      </div>
    </ion-item>

    <ion-item>
      <ion-label stacked>Descricao</ion-label>
      <ion-input type="text" formControlName="descricao"></ion-input>
    </ion-item>
    <ion-item *ngIf="!form.controls.descricao.valid && (form.controls.descricao.dirty || form.controls.descricao.touched)" color="danger">
      <div [hidden]="!form.controls.descricao.errors.required">
        O campo é obrigatório
      </div>
    </ion-item>

    <ion-item>
      <ion-label stacked>Quantidade</ion-label>
      <ion-input type="text" formControlName="quantidade"></ion-input>
    </ion-item>
    <ion-item *ngIf="!form.controls.quantidade.valid && (form.controls.quantidade.dirty || form.controls.quantidade.touched)" color="danger">
      <div [hidden]="!form.controls.quantidade.errors.required">
        O campo é obrigatório
      </div>
    </ion-item>

    <div padding>
      <button ion-button block type="submit" [disabled]="!form.valid" (click)="onSubmit()">Salvar</button>
    </div>
  </form>

</ion-content>
