page-welcome {
  #welcome{
    background: color($colors, energy);
    h1{
      font-size: 52px;
      margin-top:50px;
      text-align: center;
    }
    .marginTop{
      margin-top:50px;
    }
    .button2{
      margin-top:10px;
    }
    .logo{
      height: 200px;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
  }
}
