page-remedio-caseiro {

  .list1{
    height: 200px;
    display: block;
    margin-left: 530px;
    margin-right: 200px;
  }
  .list{
    height: 50px;
    display: block;
    margin-left: 525px;
    margin-right: 200px;
  }

}
